.A_charityDescription {
  text-align: center;
  max-width: 720px;
}

.A_connectionLink {
  text-decoration-line: underline;
  text-decoration-thickness: from-font;
  text-underline-offset: 11px;
}

.A_serviceNum {
  position: absolute;
  top: 0px;
  left: 0px;
  top: -126px;
  left: 263px;
}

.A_serviceCover {
  position: absolute;
  margin: auto auto;
  width: 28.3125rem;
  height: 28.3125rem;
  mix-blend-mode: lighten;
}

.A_preferences {
  position: absolute;
}

.A_blackBottom {
  position: relative;
  width: auto;
  height: 3.6875rem;
  background: #0c0916;
  box-shadow: 0px -8px 123.1px 0px rgba(0, 0, 0, 0.6),
    0px -8px 22.1px 0px rgba(0, 0, 0, 0.6);
}

.A_map {
  position: relative;
}

.A_skull {
  position: absolute;
  top: 242px;
  left: 668px;
  width: 26.375rem;
  height: 26.375rem;
}

.A_contact {
  text-transform: uppercase;
  mix-blend-mode: overlay;
  position: absolute;
  color: #0c0916;
}

.A_footerLogo {
  width: 10.875rem;
  height: 13.375rem;
  position: relative;
}

.A_footerContent {
  position: relative;
}

.A_headerLogo {
  // width: 12.8125rem;
  height: 3.25rem;
}

.A_bookHeader {
  padding: 0.3rem 0.8rem;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.5rem;
  background: #6cd7a7;
  color: #0c0916;
}

#contactTitle {
  top: 152px;
  left: 582px;
  opacity: 80%;
}
#contactEmail {
  top: 406px;
  left: 134px;
  width: 706px;
  word-wrap: break-word;
}

//service characteristics
#PPVWord1 {
  top: 82px;
  left: 188px;
}
#PPVWord2 {
  top: 384px;
  left: 127px;
}
#PPVWord3 {
  top: 570px;
  left: 678px;
}

#GGWord1 {
  top: 168px;
  left: 972px;
}
#GGWord2 {
  top: 460px;
  left: 900px;
}
#GGWord3 {
  top: 554px;
  left: 298px;
}

#ASWord1 {
  top: 256px;
  left: 178px;
}
#ASWord2 {
  top: 540px;
  left: 380px;
}
#ASWord3 {
  top: 560px;
  left: 910px;
}

//arrows

#PPVArrow1 {
  top: 58px;
  left: 268px;
  transform: rotate(1deg);
  position: absolute;
}
#PPVArrow2 {
  top: 372px;
  left: 227px;
  transform: scale(1, -1) rotate(-18deg);
  position: absolute;
}
#PPVArrow3 {
  top: 461px;
  left: 477px;
  transform: rotate(-156deg);
  position: absolute;
}

#GGArrow1 {
  top: 110px;
  left: 750px;
  transform: scale(-1, 1) rotate(-18deg);
  position: absolute;
}
#GGArrow2 {
  top: 356px;
  left: 690px;
  transform: scale(-1, 1) rotate(-39deg);
  position: absolute;
}
#GGArrow3 {
  top: 410px;
  left: 396px;
  transform: rotate(-67deg);
  position: absolute;
}

#ASArrow1 {
  top: 176px;
  left: 297px;
  transform: rotate(-28deg);
  position: absolute;
}
#ASArrow2 {
  top: 416px;
  left: 484px;
  transform: rotate(-49deg);
  position: absolute;
}
#ASArrow3 {
  top: 414px;
  left: 742px;
  transform: scale(-1, 1) rotate(-65deg);
  position: absolute;
}
