.O_service {
  position: absolute;
  display: flex;
  width: 22rem;
  padding: 1rem 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.875rem;
  border-radius: 2rem;
  border: 1px solid #f5ece5;
  justify-content: space-between;
  background: rgba(16, 13, 30, 0.5);
  backdrop-filter: blur(5px);

  @media screen and (max-width: 833px) {
    width: 21rem;
  }
}

.O_serviceCard {
  position: absolute;
  height: 22rem;
  width: 17rem;
  background-color: #100d1e;
  border-radius: 1rem;
  border: 1px solid #639880;
  display: flex;
  transition: 0.1s;
  text-align: center;

  * {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }

  img {
    mix-blend-mode: lighten;
    // height: 15rem;
  }
  &:hover {
    box-shadow: 0px 0px 10px 0px rgba(108, 215, 167, 0.4);
    // background-color: #132a20;
    transition: 0.1s;
  }

  @media screen and (min-width: 640px) and (max-width: 1000px) {
    height: 15rem;
    width: 10rem;
    border-radius: 0.6rem;

    p {
      font-size: 0.5rem;
    }

    .A_desc {
      font-size: 0.7rem;
      margin: 0.5rem;
    }
  }

  @media screen and (max-width: 640px) {
    position: relative;
    height: 23rem;
    width: 19rem;
  }
}

#ppv {
  top: 110px;
  left: 820px;

  @media screen and (max-width: 1239px) {
    left: 427px;
  }
  @media screen and (max-width: 833px) {
    top: 38px;
    left: 13px;
  }

  .A_serviceNum {
    @media screen and (max-width: 833px) {
      left: 286px;
    }
  }
}

#gg {
  top: 110px;
  left: 60px;

  @media screen and (max-width: 1239px) {
    left: 64px;
  }
  @media screen and (max-width: 833px) {
    top: 38px;
    left: 13px;
  }

  .A_serviceNum {
    @media screen and (max-width: 833px) {
      left: 244px;
    }
  }
}

#as {
  top: 110px;
  left: 738px;
  @media screen and (max-width: 1239px) {
    left: 350px;
  }
  @media screen and (max-width: 833px) {
    top: 38px;
    left: 13px;
  }

  .A_serviceNum {
    @media screen and (max-width: 833px) {
      left: 202px;
    }
  }
}

#ppv_card {
  top: 11rem;
  left: 28rem;
  transform: rotate(5deg);
  animation: ppvAni 4s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  transition-timing-function: ease-in;
  .A_desc {
    margin: 6rem 0.5rem;
  }

  @media screen and (max-width: 1239px) {
    top: 10rem;
    left: 24rem;
    .A_desc {
      margin: 6rem 0.5rem;
    }
  }
  @media screen and (max-width: 1000px) {
    top: 10rem;
    left: 17rem;
    .A_desc {
      margin: 3rem 0.5rem;
    }
  }
  @media screen and (max-width: 770px) {
    top: 5rem;
    left: 14.5rem;
    .A_desc {
      margin: 3rem 0.5rem;
    }
  }
}

#gg_card {
  top: 2rem;
  left: 55rem;
  transform: rotate(10deg);
  animation: ggAni 4s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  transition-timing-function: ease-in;
  .A_desc {
    margin: 4rem 1rem;
  }

  @media screen and (max-width: 1239px) {
    top: 2rem;
    left: 44rem;
  }

  @media screen and (max-width: 1000px) {
    top: 2rem;
    left: 35rem;
    .A_desc {
      margin: 2rem 0.5rem;
    }
  }

  @media screen and (max-width: 770px) {
    top: 2rem;
    left: 28rem;
    .A_desc {
      margin: 2rem 0.5rem;
    }
  }
}

#as_card {
  top: 0;
  left: 1rem;
  transform: rotate(-9deg);
  animation: asAni 4s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  transition-timing-function: ease-in;
  .A_desc {
    margin: 3rem 1rem;
  }

  @media screen and (max-width: 770px) {
    top: 0;
    left: 1rem;
    .A_desc {
      margin: 0.5rem 0.5rem;
    }
  }

  @media screen and (max-width: 1000px) {
    top: 0;
    left: 1rem;
    .A_desc {
      margin: 0.5rem 0.5rem;
    }
  }
}

@keyframes ppvAni {
  0% {
    transform: translateY(0) rotate(5deg);
  }
  100% {
    transform: translateY(8px) rotate(5deg);
  }
}

@keyframes ggAni {
  0% {
    transform: translateY(0) rotate(10deg);
  }
  100% {
    transform: translateY(-8px) rotate(10deg);
  }
}

@keyframes asAni {
  0% {
    transform: translateY(0) rotate(-9deg);
  }
  100% {
    transform: translateY(-8px) rotate(-9deg);
  }
}
