video::-webkit-media-controls {
  display: none !important;
}

#header {
  display: flex;
  width: 100%;
  padding: 0.8125rem 4rem;
  justify-content: space-between;
  align-items: center;
  min-width: 360px;

  @media screen and (max-width: 833px) {
    padding: 0.8125rem 0.4rem;
  }
}

#S_screen_1_mobile {
  // display: none;
  // @media screen and (max-width: 640px) {
  // background-repeat: no-repeat;
  // background-position: center;
  // display: block;
  // position: relative;
  // background-image: url('/src/images/mobileBack.png');
  // background-size: cover;
  // width: 100%;
  // height: 42rem;
  display: none;
  overflow: hidden;
  width: 100%;
  height: 49rem;
  position: relative;

  .A_gifBack,
  .A_gif,
  .A_gifForward {
    position: absolute;
    height: 49rem;
    /* width: 33rem; */
    object-fit: cover;
  }

  .C_cards {
    top: 14rem;
  }

  @media screen and (min-width: 1240px) {
    display: none;
  }
  // }
}

// @media screen and (max-width: 833px) {
//   display: block;
//   width: 833px;
//   position: relative;
//   height: auto;
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   gap: 2rem;
//   padding: 2rem 0;
// }

#S_screen1 {
  overflow: hidden;
  width: 100%;
  height: 44rem;
  position: relative;

  // @media screen and (max-width: 640px) {
  //   // display: none;
  // }

  // @media screen and (max-width: 770px) {
  //   height: 27rem;
  // }
  // @media screen and (max-width: 1000px) {
  //   height: 33rem;
  // }

  // @media screen and (max-width: 1239px) {
  //   display: none;
  // }

  @media screen and (min-width: 1440px) {
    height: 54rem;
  }
  @media screen and (min-width: 1620px) {
    height: 58rem;
  }
}

#S_screen_2_mobile {
  display: none;
  @media screen and (max-width: 640px) {
    display: block;
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 0.5rem;
    flex-wrap: wrap;

    .O_serviceCard {
      height: 23rem;
      width: 19rem;
    }
  }
}

#S_screen3,
#S_screen4,
#S_screen5 {
  // scroll-snap-align: center;
  display: flex;
  // height: 100vh;
  height: 600px;
  width: 1239px;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 7rem;
  min-width: 360px;

  @media screen and (max-width: 1239px) {
    width: 833px;
  }

  @media screen and (max-width: 833px) {
    width: 360px;
    height: 750px;
  }
}

#S_screen6 {
  display: flex;
  // width: 90rem;
  position: relative;

  padding: 5rem 0rem 10rem 0rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  min-width: 360px;

  @media screen and (max-width: 640px) {
    padding: 5rem 1.5rem 10rem 1.5rem;
    width: 360px;
  }
}

#S_screen7 {
  display: flex;
  // width: 90rem;
  padding: 5rem 0rem 10rem 0rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
  min-width: 360px;

  @media screen and (max-width: 833px) {
    width: 360px;
  }
}

//map with comtacts

// #S_screen8 {
//   display: flex;
//   // width: 90rem;
//   padding-top: 1rem;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   gap: 2rem;
//   position: relative;
//   overflow: hidden;
//   min-width: 360px;

//   @media screen and (max-width: 1239px) {
//     width: 833px;
//   }
//   @media screen and (max-width: 833px) {
//     width: 360px;
//   }
// }

#footer {
  display: inline-flex;
  padding: 2rem 8rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 360px;
  background-color: #100d1e;
  @media screen and (max-width: 1239px) {
    padding: 4rem 8rem;
    align-items: flex-end;
  }

  @media screen and (max-width: 833px) {
    padding: 4rem 1rem;
    gap: 1rem;
    align-items: flex-end;
  }
}
// .scroll {
//   scrollbar-width: none;
//   overflow-y: scroll;
//   overflow-x: hidden;
//   height: 100vh;
//   scroll-snap-points-y: repeat(100vh);
//   scroll-snap-type: y mandatory;
// }
